In [ ]:
import numpy as np
import pandas as pd

In [ ]:
file_path = "../../../datasets/filtered_pollution_us_2000_2016.csv"
data = pd.read_csv(file_path)

In [ ]:
# Display first few rows
data.head()

In [11]:
# Display columns
data.columns

Index(['NO2 Mean', 'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Mean',
       'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'CO Mean',
       'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [6]:
#Check for missing values
data.isnull().sum() #checking to see how many missing values exist per column

NO2 Mean                  0
NO2 1st Max Value         1
NO2 1st Max Hour          1
NO2 AQI                   1
O3 Mean                   1
O3 1st Max Value          1
O3 1st Max Hour           1
O3 AQI                    1
SO2 Mean                  1
SO2 1st Max Value         1
SO2 1st Max Hour          1
SO2 AQI              283890
CO Mean                   1
CO 1st Max Value          1
CO 1st Max Hour           1
CO AQI               283912
dtype: int64

In [ ]:
# Checking for duplicate rows and dropping
print(data.duplicated().sum())
data.drop_duplicates(inplace = True)

0

In [ ]:
# Check data types & convert if necessary