In [29]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import os

In [30]:
data = pd.read_csv(r'filtered_pollution_us_2000_2016.csv')

In [31]:
# Display first few rows
data.head()

,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,19.041667,49.0,19,46,0.022500,0.040,10,34,3.000000,9.0,21,13.0,1.145833,4.2,21,NaN
1,19.041667,49.0,19,46,0.022500,0.040,10,34,3.000000,9.0,21,13.0,0.878947,2.2,23,25.0
2,19.041667,49.0,19,46,0.022500,0.040,10,34,2.975000,6.6,23,NaN,1.145833,4.2,21,NaN
3,19.041667,49.0,19,46,0.022500,0.040,10,34,2.975000,6.6,23,NaN,0.878947,2.2,23,25.0
4,22.958333,36.0,19,34,0.013375,0.032,10,27,1.958333,3.0,22,4.0,0.850000,1.6,23,NaN

In [32]:
# Display columns
data.columns

Index(['NO2 Mean', 'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Mean',
       'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'CO Mean',
       'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [33]:
#Check for missing values
data.isnull().sum() #checking to see how many missing values exist per column

NO2 Mean                  0
NO2 1st Max Value         0
NO2 1st Max Hour          0
NO2 AQI                   0
O3 Mean                   0
O3 1st Max Value          0
O3 1st Max Hour           0
O3 AQI                    0
SO2 Mean                  0
SO2 1st Max Value         0
SO2 1st Max Hour          0
SO2 AQI              872907
CO Mean                   0
CO 1st Max Value          0
CO 1st Max Hour           0
CO AQI               873323
dtype: int64

In [34]:
# Checking for duplicate rows and dropping
print(data.duplicated().sum())
data.drop_duplicates(inplace = True)

5110

In [35]:
# Check data types & convert if necessary
data.dtypes

NO2 Mean             float64
NO2 1st Max Value    float64
NO2 1st Max Hour       int64
NO2 AQI                int64
O3 Mean              float64
O3 1st Max Value     float64
O3 1st Max Hour        int64
O3 AQI                 int64
SO2 Mean             float64
SO2 1st Max Value    float64
SO2 1st Max Hour       int64
SO2 AQI              float64
CO Mean              float64
CO 1st Max Value     float64
CO 1st Max Hour        int64
CO AQI               float64
dtype: object

In [36]:
# Summary stats
data.describe()

# Which pollutants have the highest variability?
# Are AQI values within expected ranges?

,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
count,1.741551e+06,1.741551e+06,1.741551e+06,1.741551e+06,1.741551e+06,1.741551e+06,1.741551e+06,1.741551e+06,1.741551e+06,1.741551e+06,1.741551e+06,871246.000000,1.741551e+06,1.741551e+06,1.741551e+06,870601.000000
mean,1.282216e+01,2.541104e+01,1.172805e+01,2.389448e+01,2.612029e-02,3.919736e-02,1.016793e+01,3.603702e+01,1.872076e+00,4.496082e+00,9.663080e+00,7.121016,3.683035e-01,6.202876e-01,7.872505e+00,5.995569
std,9.509228e+00,1.599961e+01,7.876593e+00,1.516131e+01,1.136707e-02,1.533377e-02,4.001878e+00,1.974295e+01,2.762553e+00,7.685473e+00,6.729217e+00,11.942990,3.139541e-01,6.438729e-01,7.977696e+00,5.845211
min,-2.000000e+00,-2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-2.000000e+00,-2.000000e+00,0.000000e+00,0.000000,-4.375000e-01,-4.000000e-01,0.000000e+00,0.000000
25%,5.750000e+00,1.300000e+01,5.000000e+00,1.200000e+01,1.787500e-02,2.900000e-02,9.000000e+00,2.500000e+01,2.571430e-01,9.000000e-01,5.000000e+00,1.000000,1.833330e-01,2.920000e-01,0.000000e+00,2.000000
50%,1.073913e+01,2.400000e+01,9.000000e+00,2.300000e+01,2.587500e-02,3.800000e-02,1.000000e+01,3.300000e+01,9.875000e-01,2.000000e+00,8.000000e+00,3.000000,2.937830e-01,4.000000e-01,6.000000e+00,5.000000
75%,1.771429e+01,3.560000e+01,2.000000e+01,3.300000e+01,3.390000e-02,4.800000e-02,1.100000e+01,4.200000e+01,2.328571e+00,5.000000e+00,1.400000e+01,9.000000,4.666670e-01,8.000000e-01,1.300000e+01,8.000000
max,1.395417e+02,2.670000e+02,2.300000e+01,1.320000e+02,9.508300e-02,1.410000e-01,2.300000e+01,2.180000e+02,3.216250e+02,3.510000e+02,2.300000e+01,200.000000,7.508333e+00,1.990000e+01,2.300000e+01,201.000000

In [37]:
# Define the columns to check
columns = ['NO2 AQI', 'O3 AQI', 'CO AQI', 'SO2 AQI']

# Filter rows where any of the specified columns have values between 100 and 200
rows_in_range = data[(data[columns] >= 100).any(axis=1) & (data[columns] <= 200).any(axis=1)]

# Count the number of rows
count = len(rows_in_range)

print(f"Number of rows where values in any of {columns} are between 100 and 200: {count}")

Number of rows where values in any of ['NO2 AQI', 'O3 AQI', 'CO AQI', 'SO2 AQI'] are between 100 and 200: 42701

In [38]:
# Before checking threshold for features
number_rows, number_columns = data.shape
print(f"Raw Data: {number_rows} samples and {number_columns} features")


# Removing Any Feature with >= 80% Missing Values
threshold = 0.8
retain_columns = [col for col in data.columns if data[col].isnull().mean() < threshold]
data_cleaning = data[retain_columns]
print(f"Features Retained After Removing >= 80% Missing Values: {len(retain_columns)}")

Raw Data: 1741551 samples and 16 features
Features Retained After Removing >= 80% Missing Values: 16

In [39]:
# Solving the NaN values for SO2 AQI

# Split Data where there are NaN and Non-NaN values
features = ["SO2 Mean", "SO2 1st Max Value", "SO2 1st Max Hour"]
so2_known = data.dropna(subset=["SO2 AQI"])
so2_unknown = data[data["SO2 AQI"].isna()]
print(so2_unknown[so2_unknown["SO2 AQI"].isna()])
print(so2_unknown.columns)

# Using Linear Regression to fill in where NaN exists
so2_model = LinearRegression().fit(so2_known[features], so2_known["SO2 AQI"])
data.loc[data["SO2 AQI"].isna(), "SO2 AQI"] = so2_model.predict(so2_unknown[features])

          NO2 Mean  NO2 1st Max Value  NO2 1st Max Hour  NO2 AQI   O3 Mean  \
2        19.041667               49.0                19       46  0.022500
3        19.041667               49.0                19       46  0.022500
6        22.958333               36.0                19       34  0.013375
7        22.958333               36.0                19       34  0.013375
10       38.125000               51.0                 8       48  0.007958
...            ...                ...               ...      ...       ...
1746652   2.564706                3.6                 6        3  0.028000
1746655   1.083333                1.6                 9        1  0.043917
1746656   1.083333                1.6                 9        1  0.043917
1746659   0.939130                1.3                 5        1  0.045263
1746660   0.939130                1.3                 5        1  0.045263

         O3 1st Max Value  O3 1st Max Hour  O3 AQI  SO2 Mean  \
2                   0.040               10      34    2.9750
3                   0.040               10      34    2.9750
6                   0.032               10      27    1.9375
7                   0.032               10      27    1.9375
10                  0.016                9      14    5.2000
...                   ...              ...     ...       ...
1746652             0.040               23      37    0.1200
1746655             0.048               18      44    0.0000
1746656             0.048               18      44    0.0000
1746659             0.047                9      44    0.0000
1746660             0.047                9      44    0.0000

         SO2 1st Max Value  SO2 1st Max Hour  SO2 AQI   CO Mean  \
2                      6.6                23      NaN  1.145833
3                      6.6                23      NaN  0.878947
6                      2.6                23      NaN  0.850000
7                      2.6                23      NaN  1.066667
10                     8.3                20      NaN  1.929167
...                    ...               ...      ...       ...
1746652                0.4                 8      NaN  0.006667
1746655                0.0                 2      NaN  0.101042
1746656                0.0                 2      NaN  0.091667
1746659                0.0                 5      NaN  0.067714
1746660                0.0                 5      NaN  0.100000

         CO 1st Max Value  CO 1st Max Hour  CO AQI
2                   4.200               21     NaN
3                   2.200               23    25.0
6                   1.600               23     NaN
7                   2.300                0    26.0
10                  4.400                8     NaN
...                   ...              ...     ...
1746652             0.100                0     1.0
1746655             0.134               18     NaN
1746656             0.100                2     1.0
1746659             0.127                0     NaN
1746660             0.100                0     1.0

[870305 rows x 16 columns]
Index(['NO2 Mean', 'NO2 1st Max Value', 'NO2 1st Max Hour', 'NO2 AQI',
       'O3 Mean', 'O3 1st Max Value', 'O3 1st Max Hour', 'O3 AQI', 'SO2 Mean',
       'SO2 1st Max Value', 'SO2 1st Max Hour', 'SO2 AQI', 'CO Mean',
       'CO 1st Max Value', 'CO 1st Max Hour', 'CO AQI'],
      dtype='object')

In [40]:
# Solving the NaN values for CO AQI

# Split Data where there are NaN and Non-NaN values
features = ["CO Mean", "CO 1st Max Value", "CO 1st Max Hour"]
co_known = data.dropna(subset=["CO AQI"])
co_unknown = data[data["CO AQI"].isna()]

# Using Linear Regression to fill in where NaN exists
co_model = LinearRegression().fit(co_known[features], co_known["CO AQI"])
data.loc[data["CO AQI"].isna(), "CO AQI"] = co_model.predict(co_unknown[features])

In [41]:
no2_zero = (data["NO2 AQI"] <= 0).sum()
o3_zero = (data["O3 AQI"] <= 0).sum()
so2_zero = (data["SO2 AQI"] <= 0).sum()
co_zero = (data["CO AQI"] <= 0).sum()
print(f"NO2: {no2_zero}, \n O3: {o3_zero}, \n SO2: {so2_zero}, \n CO: {co_zero}")

NO2: 12626,
 O3: 596,
 SO2: 273421,
 CO: 58580

In [42]:
# Elimiinating any negative values from the data set
data_cleaned = data[(data["NO2 AQI"] > 0) & 
            (data["O3 AQI"] > 0) & 
            (data["SO2 AQI"] > 0) & 
            (data["CO AQI"] > 0) &
            (data["NO2 Mean"] > 0) &
            (data["SO2 Mean"] > 0) &
            (data["SO2 1st Max Value"] > 0) &
            (data["CO Mean"] > 0)]

len(data_cleaned)

1406162

In [43]:
# Calculate the overall AQI as the maximum value among the individual AQI columns (NO2, O3, SO2, CO) for each row
data_cleaned["Overall AQI"] = data_cleaned[['NO2 AQI', 'O3 AQI', 'SO2 AQI', 'CO AQI']].max(axis=1)

C:\Users\Ivan\AppData\Local\Temp\ipykernel_24000\2265566942.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_cleaned["Overall AQI"] = data_cleaned[['NO2 AQI', 'O3 AQI', 'SO2 AQI', 'CO AQI']].max(axis=1)

In [44]:
# Summary stats
data_cleaned.describe()

,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,Overall AQI
count,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06,1.406162e+06
mean,1.414483e+01,2.768742e+01,1.185542e+01,2.605954e+01,2.559864e-02,3.925120e-02,1.021173e+01,3.619106e+01,2.219325e+00,5.321064e+00,1.049600e+01,7.377880e+00,4.042216e-01,6.882735e-01,8.312177e+00,7.803868e+00,4.160868e+01
std,9.641468e+00,1.595774e+01,7.856309e+00,1.512684e+01,1.149041e-02,1.579793e-02,3.944444e+00,2.047039e+01,2.866418e+00,8.122523e+00,6.505151e+00,1.085745e+01,3.233801e-01,6.716434e-01,7.981060e+00,7.644419e+00,1.959111e+01
min,4.167000e-03,1.000000e+00,0.000000e+00,1.000000e+00,4.200000e-05,1.000000e-03,0.000000e+00,1.000000e+00,4.167000e-03,1.000000e-01,0.000000e+00,7.507099e-02,4.200000e-05,1.000000e-03,0.000000e+00,1.344396e-03,5.000000e+00
25%,7.000000e+00,1.590000e+01,6.000000e+00,1.400000e+01,1.716700e-02,2.800000e-02,9.000000e+00,2.500000e+01,5.500000e-01,1.100000e+00,6.000000e+00,1.421002e+00,2.000000e-01,3.000000e-01,0.000000e+00,3.000000e+00,3.000000e+01
50%,1.220833e+01,2.600000e+01,1.000000e+01,2.500000e+01,2.529200e-02,3.800000e-02,1.000000e+01,3.300000e+01,1.225000e+00,2.600000e+00,1.000000e+01,3.726795e+00,3.208330e-01,5.000000e-01,6.000000e+00,5.767928e+00,3.700000e+01
75%,1.925000e+01,3.800000e+01,2.000000e+01,3.600000e+01,3.341700e-02,4.900000e-02,1.100000e+01,4.200000e+01,2.772727e+00,6.000000e+00,1.400000e+01,9.000000e+00,5.041670e-01,8.000000e-01,1.500000e+01,9.127134e+00,4.600000e+01
max,1.395417e+02,2.670000e+02,2.300000e+01,1.320000e+02,9.508300e-02,1.410000e-01,2.300000e+01,2.180000e+02,3.216250e+02,3.510000e+02,2.300000e+01,5.322287e+02,7.508333e+00,1.990000e+01,2.300000e+01,2.256552e+02,5.322287e+02

In [ ]:
columns_to_check = ['NO2 AQI', 'O3 AQI', 'CO AQI', 'SO2 AQI', 'Overall AQI']

upper_limit = 200
lower_limit = 100

for column in columns_to_check:
    # Calculate IQR
    Q1 = data_cleaned[column].quantile(0.25)
    Q3 = data_cleaned[column].quantile(0.75)
    IQR = Q3 - Q1

    # Calculate IQR-based bounds
    iqr_lower_bound = Q1 - 1.5 * IQR
    iqr_upper_bound = Q3 + 1.5 * IQR

    # Enforce strict bounds between 100 and 200
    effective_lower_bound = max(iqr_lower_bound, lower_limit)
    effective_upper_bound = min(iqr_upper_bound, upper_limit)

    # Filter the data
    data_cleaned = data_cleaned[
        (data_cleaned[column] >= effective_lower_bound) & 
        (data_cleaned[column] <= effective_upper_bound)
    ]

# Display summary statistics
data_cleaned.describe()

,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,Overall AQI
count,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000,761529.000000
mean,10.238912,21.066721,11.701237,19.742985,0.024867,0.035432,10.103262,30.657324,1.090032,2.196911,10.073099,3.006102,0.295499,0.440814,7.811896,4.977188,32.711393
std,6.587870,11.746525,7.868921,11.086095,0.009024,0.010244,4.353477,8.870851,0.959862,1.628222,6.640169,2.364885,0.162715,0.235318,7.914098,2.731793,7.629409
min,0.004167,1.000000,0.000000,1.000000,0.000042,0.001000,0.000000,1.000000,0.004167,0.100000,0.000000,0.075071,0.000042,0.001000,0.000000,0.001344,10.000000
25%,5.154167,11.300000,5.000000,10.000000,0.018500,0.028000,9.000000,25.000000,0.362500,1.000000,5.000000,1.000000,0.187500,0.290000,0.000000,3.000000,27.000000
50%,9.086957,20.000000,9.000000,19.000000,0.025000,0.036000,10.000000,31.000000,0.875000,1.800000,9.000000,2.527988,0.270083,0.400000,6.000000,4.949650,33.000000
75%,14.217391,30.000000,20.000000,28.000000,0.031333,0.043000,11.000000,37.000000,1.500000,3.000000,14.000000,4.000000,0.387500,0.600000,13.000000,6.866290,39.000000
max,45.208333,49.900000,23.000000,46.000000,0.053500,0.054000,23.000000,46.000000,6.308696,7.800000,23.000000,9.976357,1.000000,1.067000,23.000000,11.998862,46.000000

In [ ]:
# Making new csv with only these columns
file_path = os.path.join(os.getcwd(), 'cleaned_dataset.csv')
data_cleaned.to_csv(file_path, index=False)